.calendar-month {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 2px;

}

.calendar-month-day {
    box-sizing: border-box;
    min-width: 44px;
    line-height: 2em;
    border-radius: 3px;
    cursor: pointer;
    &.today {
        border: 2px solid $primary;
    }
    
    &:hover, &:active{
        background: $white;
        color: $black;
    }
}