.time-frame-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  
  .task {
    position: absolute;
    width: 100%;
    background: rgba(1, 238, 147, 0.53);
  }
  
  .time-frame-element {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    .hour {
      position: relative;
      margin-right: 10px;
      width: 35px;
      span {
        position: absolute;
        left: 0;
        top: -11px;
        width: 40px;
        text-align: right;
      }
    }
    .content {
      height: 50px;
      flex-grow: 1;
      border-top: 1px solid $grey;
    }
  }
}