.calendar-month-example {
  width: 100%;
  max-width: 400px;
  margin: auto;
  h2 {
    text-align: right;  
  }
  
  button {
    font-size: 14px;
    margin-right: 5px;
    padding: 5px 10px;
    border: 2px solid $primary;
    &:disabled {
      border: 2px solid $disabled;
    }
  }
}